<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
  		<modules runAllManagedModulesForAllRequests="true"/>
            <staticContent>
              <remove fileExtension=".svg" />
              <remove fileExtension=".eot" />
              <remove fileExtension=".woff" />
              <mimeMap fileExtension=".svg" mimeType="image/svg+xml"  />
              <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
              <mimeMap fileExtension=".woff" mimeType="application/x-woff" />
            </staticContent>
		<security>
			<requestFiltering>
				<hiddenSegments applyToWebDAV="false">
					<add segment="protected" />
					<add segment="vendor" />
					<add segment=".git" />
				</hiddenSegments>
			</requestFiltering>
    	</security>
    <rewrite>
	  <!--This directive was not converted because it is not supported by IIS: RewriteBase /.-->
	  <rules>
	    <rule name="Redirect HTTP to HTTPS" stopProcessing="true">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther"/>
        </rule>
        <rule name="Redirect to WWW" stopProcessing="true">
			<match url=".*" />
			<conditions>
			    <add input="{HTTP_HOST}" pattern="^bodeefit.com$" />
			</conditions>
			<action type="Redirect" url="https://www.bodeefit.com/{R:0}" redirectType="Permanent" />
		</rule>
	    <!--# otherwise forward it to index.php-->
	    <rule name="Imported Rule 1">
	      <match url="." ignoreCase="false" />
	      <conditions>
	        <!--# if a directory or a file exists, use it directly-->
	        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
	        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
	      </conditions>
	      <action type="Rewrite" url="index.php" />
	    </rule>
	    <!--# BEGIN WordPress-->
	    <rule name="Imported Rule 2" stopProcessing="true">
	      <match url="^index\.php$" ignoreCase="false" />
	      <action type="None" />
	    </rule>
	    <rule name="Imported Rule 3" stopProcessing="true">
	      <match url="." ignoreCase="false" />
	      <conditions>
	        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
	        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
	      </conditions>
	      <action type="Rewrite" url="/index.php" />
	    </rule>
	  </rules>
	</rewrite>
  </system.webServer>
</configuration>